.input {
  height: 100%;
  width: 100%;
  padding: 22px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(44, 44, 44, 0.055);;
}

input::placeholder {
  color: #d5d5d5;
  font-size: 1rem;
}