.carousel__container {
  margin: 0.4rem 0.6rem;
}

.carousel__category {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
}

.carousel__items {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.carousel__items::-webkit-scrollbar {
  -ms-overflow-style: none;
  -moz-scrollbars: none;
  scrollbar-width: none;
  display: none;
}
